---
import Base from "../layouts/Base.astro";
import Code from "../components/Code.astro";
---

<Base title="Code">
  <div class="container">
    <h1>Crack the code</h1>
    <p>
      Scattered around this website, numbers are being hidden. Find them all and
      git outta here...
    </p>
    <Code />
  </div>
</Base>
