---
import TeamCard from "./TeamCard.astro";

import { getCollection } from "astro:content";
const allTeammembers = await getCollection("team");
---

<svg
  viewBox="0 0 98 99"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  width="0"
  height="0"
>
  <g fill="none">
    <defs>
      <clipPath
        id="petals"
        clipPathUnits="objectBoundingBox"
        transform="scale(0.01, 0.01)"
      >
        <path
          d="M83.8068 49.7349C116.649 87.1445 86.3213 117.472 48.9117 84.63C11.5021 117.472 -18.8258 87.1445 14.0166 49.7349C-18.8258 12.3253 11.5021 -18.0026 48.9117 14.8398C86.3213 -18.0026 116.649 12.3253 83.8068 49.7349Z"
          fill="#231F20"></path>
      </clipPath>
    </defs>
  </g>
</svg>

<section class="container" id="team">
  <header>
    <h2><span>Team</span></h2>
    <p>Check these superheroes</p>
  </header>
  <ul>
    {
      allTeammembers.map((member) => (
        <li>
          <TeamCard member={member} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: grid;
    gap: var(--sp-l);
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin-bottom: var(--sp-xl);
  }
</style>
